$palette: (
	white: (
		10: #ffffff,
		20: #F2F2F2,
		30: #F6F6F6,
		40: #979797
	),
	grey: (
		10:#CCCCCC,
		20: #575757,
		30: #71707099
	),
	black: (
		10:#000000,
	),
	green: (
		10-alpcha: #88CA1112,
		10: #88CA11,
		20: #00853D,
		30: #007C33,
	)
);